<!DOCTYPE html>
<html lang="en">

<head>
	<title>Leaderboard</title>
	<link rel="stylesheet" type="text/css" href = "{{ url_for('static', filename='css/bootstrap.min.css') }}">
	
	<style>
		table {
    		counter-reset: rowNumber;
		}

		table tr:not(:first-child) {
    		counter-increment: rowNumber;
		}

		table tr td:first-child::before {
    		content: counter(rowNumber);
    		min-width: 1em;
    		margin-right: 0.5em;
		}
	</style>
	
</head>

<body>
	<div class="container">
        <div class="header">
            <h3 class="text-muted">Assassins.tech</h3>
        </div>
 
 		<h3>Leaderboard</h3>
 		<table class="table table-striped">
 			<tr>
 				<th>Rank</th>
 				<th>Name</th>
 				<th>Status</th>
 				<th>Kills</th>
 			</tr>
 			
 			{% for idx in players %}
 			<tr>
 				<td></td>
 				<td>{{idx.name}}</td>
 				<td>{{idx.status}}</td>
 				<td>{{idx.kills}}</td>
 			</tr>
 			{% endfor %}
 			
 		</table>
 
        <footer class="footer">
            <p>&copy; March 25th, 2017. Created at MHacks 9 by Christopher Cooler and Richard Ju.</p>
        </footer>
    </div>
</body>
