<!DOCTYPE html>
<html lang="en">

<head>
	<title>Assassins</title>
    <!--<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">-->
    <!--<link rel='stylesheet' type='text/css' href='css/bootstrap-theme.css'>
	<link rel='stylesheet' type='text/css' href='css/bootstrap.css'>-->
	<link rel="stylesheet" type="text/css" href = "{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>

<body>
	<div class="container">
        <div class="header">
        	<!--
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            -->
            <h3 class="text-muted">Assassins.tech</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Welcome to Assassins!</h1>
            <p class="lead"></p>
            <form class="form-inline">
            	<div class="form-group">
            	<input id="gamePass" type="text" class="input-large form-control" placeholder="Custom Game Password" size=35 onchange="viewLeaderboard(this.value)">
            	<input id="createGameButton" class="btn btn-success" role="button" disabled="true" value="Create Game" onclick="createGame()"></input>
            	<input id="viewGameButton" class="btn btn-primary" role="button" disabled="true" value="View Existing Game" onclick="viewGame()"></input>
            	<script type="text/javascript">
            		function createGame() {
            			if(!this.disabled) {
            				window.open("create/" + document.getElementById("gamePass").value, "_self");
            			}
            		}
            		function viewGame() {
            			if(!this.disabled) {
            				window.open("leaderboard/" + document.getElementById("gamePass").value, "_self");
            			}
            		}
            		function viewLeaderboard(text) {
            			if(text.length > 0) {
            				document.getElementById("viewGameButton").disabled = false;
            				document.getElementById("createGameButton").disabled = false;
            			}
            			else {
            				document.getElementById("viewGameButton").disabled = true;
            				document.getElementById("createGameButton").disabled = true;
            			}
            		}
            	</script>
            	</div>
            </form>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Hosting</h4>
                <p>Create a game with a unique but easily memorable game id then send it to the other players.</p>
 
                <h4>Starting</h4>
                <p>You will be randomly assigned a target as well as a secret code. Keep this information safe. Do not share either information with anyone. Trust no one. </p>
 
                <h4>Suggestions and Feedback</h4>
                <p>Report any bugs or issues with the program, as well as any comments or suggestions at the link below. https://github.com/richardju97/MHacks9/issues. You can either comment on existing issues if you’ve also run into them, or open a new issue it yours currently does not exist. </p>
            </div>
 
            <div class="col-lg-6">
                <h4>Joining</h4>
                <p>Text “join” and the game id that your host has provided you with to join their game. The game will start once the host has confirmed that all participants have joined.</p>
 
                <h4>Assassinations</h4>
                <p>Upon successfully assassinating your target, reply to the text with their secret code to validate your kill. You will be given your next assignment upon doing so. Do not let anyone else know your secret code until you have been eliminated. </p>
 
                <h4>Leaderboard and Scoring</h4>
                <p>Enter your game id into the text field to view your game’s Leaderboard. Current buy in is set at $5. You earn each of your target’s buy in upon successfully eliminating them. However, you lose your original buy in to your assassin if you are eliminated. Leaderboard ranks are based on your current bank account’s balance, which is directly proportional to the number of kills each player has. </p>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; March 25th, 2017. Created at MHacks 9 by Christopher Cooper and Richard Ju.</p>
        </footer>
    </div>
</body>

